*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Subjectivity",sans-serif;
}
body{
    overflow-x: hidden;
    transition: background-color .4s ease-in-out;
}

html{
    font-size: 62.5%;
}

body.active{
    background-color: black;
    color: white;
   .ol{
       li{
           color: #5f5f5f

       }
   }
    ;
}
